# SQL Server Coding Exercise - Nov 9
### Steps to complete exercise
---
1. Choose one tool ( SQL Server Management Studio (SSMS or Azure data Studio (ADS))
1. Review the structure of the **ProductOrders** database
1. Review code for understanding on the following SQL syntax
    1. Mandatory Objects
        1. CREATE FUNCTION
        1. CREATE PROCEDURE
        1. CREATE VIEW
    1. Optional Clauses
        1. UNION
        1. OVER
        1. WITH
1. Think about what three different queries you can write that will across all three use all of the mandatory  clauses and at least one of the optional clauses
1. Write SQL statements that answer the questions below:
    1. Be sure to include the CREATE statement and the SQL query that shows the result of the question
    1. write the SQL query
#### _Remember: the goal is 5 queries **per student** with the room as a chance to collaborate as needed before engaging your instructor_

### How many items are in the largest order?

In [ ]:
create VIEW itm_qty_view as
SELECT ItemID
FROM Items

select ItemID
from itm_qty_view
order by ItemID desc

### How many Customers and distinct artists are sold in any given state?

In [ ]:
alter view cust_art_view as
select cm.CustID,od.OrderID, CustFirstName, CustLastName, CustState as States, Artist, Quantity
from Customers as cm
join Orders as odrs
on cm.CustID = odrs.CustID
join OrderDetails as od
on odrs.OrderID = od.OrderID
join Items as ii
on od.Itemid = ii.ItemID

select count(CustID) as totalcustomer, count(distinct Artist) as totalartist, count(CustID) + count(distinct Artist) as total, States
from cust_art_view
Group by States
order by 3 desc

### For a given Artist how many orders, units and distinct states  were sold?

In [ ]:
alter view cust_art_view as
select cm.CustID,od.OrderID, CustFirstName, CustLastName, CustState as States, Artist, Quantity
from Customers as cm
join Orders as odrs
on cm.CustID = odrs.CustID
join OrderDetails as od
on odrs.OrderID = od.OrderID
join Items as ii
on od.Itemid = ii.ItemID
select Artist, count(OrderID) as OrderCount, sum(quantity)as UnitsSOld, count (distinct States) as StatesSold
from cust_art_view
group by Artist
order by 1 desc

### What are the top ten artist by units sold?

In [ ]:
alter view cust_art_view as
select cm.CustID,od.OrderID, CustFirstName, CustLastName, CustState as States, Artist, Quantity
from Customers as cm
join Orders as odrs
on cm.CustID = odrs.CustID
join OrderDetails as od
on odrs.OrderID = od.OrderID
join Items as ii
on od.Itemid = ii.ItemID
select top 10 Artist, sum(quantity)as UnitsSold
from cust_art_view
group by Artist
order by 1

### What are the top ten artist by dollars ( UnitPrice * Qty) sold?

In [2]:
alter view cust_art_view as
select cm.CustID,od.OrderID, CustFirstName, CustLastName, CustState as States, Artist, Quantity, UnitPrice
from Customers as cm
join Orders as odrs
on cm.CustID = odrs.CustID
join OrderDetails as od
on odrs.OrderID = od.OrderID
join Items as ii
on od.Itemid = ii.ItemID
select top 10 Artist, sum(UnitPrice) as dollars
from cust_art_view
group by Artist
order by 2 desc